                                                    <% if ramen.favorited?(current_customer) %>

    <%= link_to public_ramen_favorites_path(ramen.id), method: :delete, remote: true do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>

    <%= link_to public_ramen_favorites_path(ramen.id), method: :post, remote: true do %>
        <span>︎♡</span>
    <% end %>
<% end %>
