<% if @model == 'customer' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'customers/index',customers: @records %>
<% elsif @model == 'ramen' %>
	<h3>Books search for "<%= @content %>"</h3>
  <%= render 'ramens/index', ramens: @records %>
<% end %>
